/*

	-------------------	
	Guia de Css Global
	-------------------

	CSS STRUCTURE
	-----------------
	01. HTML
	02. Header
    03. Nav
    04. main
	08. Footer
	09. Responsive
	
*/

/* 01 HTML
--------------------------------------------------------------- */

h1 {text-align: center; color: hwb(25 10% 38%);  text-size-adjust: 35;}
h2 {text-align: center; color: #d2691e; }
nav { color: white; background-color: black; text-align: center;}
p {color: white; text-align: center;}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
    background-color: #000000;
}

html {
    box-sizing: content-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Utilidades */
.text-center {
    text-align: center;
        }

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin:0rem;
}

@media (min-width: 768px) { 
    .max-width-30 {
        max-width: 30rem;
    }
}
/* 01.Header
--------------------------------------------------------------- */

#contenedor-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../imagenesDos/website/headerhero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 55rem;
        
}
#contenedor-header h1{
    transition-duration: 1s;
    text-align: center; 
    background-image: linear-gradient(to right, yellow, rgb(255, 68, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px rgb(29, 28, 28);
    color: transparent; 
    font-size: 9rem;
}

#contenedor-header h2{
    transition-duration: 1s;
    text-align: center; 
    background-image: linear-gradient(to right, yellow, rgb(255, 68, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px rgb(29, 28, 28);
    color: transparent;  
    font-size: 8rem;
    

}

#contenedor-header:hover h1,
#contenedor-header:hover h2 {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    text-align: center; 
    color: #d2691e;
    text-shadow: #424040e8 8px 8px 8px;
}


@media (max-width: 500px) { 
    #contenedor-header h1 {
        font-size: 7rem;
        margin: 0rem;
    }
    #contenedor-header h2 {
        font-size: 5rem;
        margin: 0rem;
    }
    #contenedor-header{
        height: 25rem;
    }
}
/* 02.Nav
--------------------------------------------------------------- */
#contenedor-nav {
    background-color: #e47c05;
    position: fixed; 
    width: 100%; 
    z-index: 1000;
    
}
.nav-principal {
    background-image: linear-gradient(to top, yellow, rgb(255, 68, 0));
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 1.4rem;
    border-top: 2px solid #666666;
    border-bottom: 2px solid #666666;
    position: relative;
}

#contenedor-nav a {
    text-decoration: none;
    color: #000000;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1rem;
}

#contenedor-nav a:hover {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    flex-grow: 0.01;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #020202 2px 2px 2px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-radius: 10%;
}

@media (max-width: 500px) { 
    .nav-principal {
        flex-direction: column;
        align-items: center;
        height: 18rem;
        padding: 3rem;
    }
    #contenedor-nav a{
        font-size: 2rem;
        padding: 0.2rem;
        border: none;
    }
    #contenedor-nav a:hover {
        border: none; 
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
    }
}

/* 01.Main
--------------------------------------------------------------- */

.contenido-principal {
    padding-top: 5rem;
}

/* 07.Footer
--------------------------------------------------------------- */

#contenedor-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    margin-top: 3rem;
}

#horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 5rem;
} 

#horarios h2{
    background-image: linear-gradient(to right, yellow, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
  }

#horarios a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #d2691e;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem; 
}

#horarios a:hover {
    display: block;
    text-align: center;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    flex-grow: 0.01;
    font-weight: bold;
    color: #f30000;
    text-shadow: #020202 2px 2px 2px;
    font-size: 3rem;
}

#horarios h3 {
    margin: 0;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center; 
}

.contenedor-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para los elementos dentro de .contenedor-info */
.contenedor-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 5px;
}


.logoutm {
    height: 5rem;
    margin-bottom: 10px;
}

/* Estilos para la direccion */
#direccion a {
    text-decoration: none;
    color: #d2691e;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem;
}
#direccion a:hover {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    flex-grow: 0.01;
    font-weight: bold;
    background-image: linear-gradient(to right, yellow, rgb(255, 68, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
}


/* Estilos para los números de teléfono */
.contenedor-info p {
    margin: 0;
    color: #fff;
}
#email a{
    text-decoration: none;
    color: #d2691e;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem; 
}
#email a:hover {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    flex-grow: 0.01;
    font-weight: bold;
    background-image: linear-gradient(to right, yellow, rgb(255, 68, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 10%;
    font-size: 2rem;
}

/* Estilos para los íconos de redes sociales */
.social {
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
}

.social a {
    margin-right: 10px;
    background-image: linear-gradient(to right, yellow, rgb(255, 68, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    font-size: 3rem;
    margin: 0 10px; 
}

@media (max-width: 500px) { 
    .contenedor-info {
        flex-direction: column;
        align-items: center;
        padding: 0rem;
    }
    #contenedor-footer {
        padding-top: 3rem;
    }
    
    .contenedor-info div {
        padding: 0rem; 
    }

    .social {
        margin-top: 20px; 
    }
    #contenedor-footer a:hover {
        color: #f30000;
        text-shadow: #020202 2px 2px 2px;
        font-size: 2rem;
        border: none;
    }
}

form{
    color: #ffffff;
    text-decoration: none;
}






