<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../imagenesDos/logos/logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Agregar Usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header id="contenedor-header"></header>
    <div id="contenedor-nav"></div>
    <h1>Crear Usuario</h1>
    <center>
    <form id="formularioCreateCliente" enctype="multipart/form-data">
        <label for="idCliente">Código:</label>
        <input type="text" id="idCliente" name="idCliente" required><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required><br>
        
        <label for="mail">Mail:</label>
        <input type="text" id="mail" name="mail" required><br>

        <label for="tipoUsuario">Usuario:</label>
        <input type="text" id="tipoUsuario" name="tipoUsuario" pattern="[a-z]+" required><br>


        <button type="submit">Agregar Usuario</button>
        <a href="index.html">Inicio</a> <!-- agregar un inicio de sesion en el index-->
    </form>
</center>
<footer id="contenedor-footer"></footer>
<script src="../javaScripts/CreateUsuario.js"></script>
<script src="../javaScripts/dom.js"></script>
</body>
</html>