<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Agregar Usuario</title>
    <link rel="stylesheet" href=""><!-- hacer el estilo-->
</head>

<body>
    <h1>Crear Usuario</h1>
   
    <form id="formularioCreateM" enctype="multipart/form-data">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" required><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required><br>
        
        <label for="mail">Mail:</label>
        <input type="text" id="mail" name="mail" required><br>

        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required><br>


        <button type="submit">Agregar Usuario</button>
        <a href="index.html">Inicio</a> <!-- agregar un inicio de sesion en el index-->
    </form>
    <script src="javaScripts\CreateUsuario.js"></script>
</body>
</html>