<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Bebida</title>
   <link rel="shortcut icon" type="image/x-icon" href="../imagenesDos/logos/logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="STYLESHEET" href="../css/index.css">
    <header id="contenedor-header"></header>
    <div id="contenedor-nav"></div>
</head>
<body>
    <h1>Modificar Bebida</h1>
    <div id="app">
        <form @submit.prevent="obtenerBebida">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Modificar Bebida</button>

            <a href="index.html">Menu principal</a>
            </form>
            <div v-if="mostrarDatosBebida">
            <h2>Datos de la Bebida</h2>
            <form @submit.prevent="guardarCambios">
            <label for="nombreModificar">Nombre:</label>
            <input type="text" id="nombreModificar" v-model="nombre" required><br>

            <label for="precioModificar">Precio:</label>
            <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>

            <!-- Imagen actual del producto -->
            <img v-if="imagen_url && !imagenSeleccionada":src="'static/img/' + imagen_url" alt="Imagen del producto" style="max-width: 200px;">
            <!-- Vista previa de la nueva imagen seleccionada -->
            <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen" style="max-width: 200px;">
            <!-- Input para nueva imagen -->
            <label for="nuevaImagen">Nueva Imagen:</label>
            <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>

            <button type="submit">Guardar Cambios</button>
            <a href="ModificarBebida.html">Cancelar</a>
        </form>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="javaScripts\ModificarBebida.js"></script>
</body>
    <footer id="contenedor-footer"></footer>
</html>
