<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Menu</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Modificar Platillos</h1>
    <div id="app">
        <form @submit.prevent="obtenerPlatillo">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Modificar Platillo</button>

            <a href="index.html">Menu principal</a>
            </form>
            <div v-if="mostrarDatosPlatillo">
            <h2>Datos del Platillo</h2>
            <form @submit.prevent="guardarCambios">
            <label for="nombreModificar">Nombre:</label>
            <input type="text" id="nombreModificar" v-model="nombre" required><br>

            <label for="precioModificar">Precio:</label>
            <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>

            <!-- Imagen actual del producto -->
            <img v-if="imagen_url && !imagenSeleccionada":src="'static/img/' + imagen_url" alt="Imagen del producto" style="max-width: 200px;">
            <!-- Vista previa de la nueva imagen seleccionada -->
            <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen" style="max-width: 200px;">
            <!-- Input para nueva imagen -->
            <label for="nuevaImagen">Nueva Imagen:</label>
            <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>

            <button type="submit">Guardar Cambios</button>
            <a href="ModificarMenu.html">Cancelar</a>
        </form>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="javaScripts\ModificarMenu.js"></script>
</body>
</html>