<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- espacio en blaco habia -->

<title>Listado Menu</title>
<link rel="stylesheet" href="../css/menu.css">
</head>
<body>
    <h1>Listado de Bebida</h1>
<table>
    <thead>
        <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th align="right">Precio</th>
        <th>Imagen</th>
        </tr>
    </thead>
        <tbody id="tablaBebida"> </tbody>
</table>
 <div class="contenedor-centrado">
    <a href="index.html">Menu principal</a>
</div>
<script src="../javaScripts/ReadBebida.js"></script> <!-- cambie barra invertida -->
</body>
</html>