<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-
scale=1.0">

<title>Listado Menu</title>
<link rel="shortcut icon" type="image/x-icon" href="imagenesDos\logos\logo.jpg">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="STYLESHEET" href="../css/index.css">
</head>
<body>
    <h1>Listado de Reservas</h1>
<table>
    <thead>
        <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Cantidad de personas</th>
        </tr>
    </thead>
        <tbody id="tablaReservas"> </tbody>
</table>
 <div class="contenedor-centrado">
    <a href="index.html">Menu principal</a>
</div>
<script src="../javaScripts/ReadReserva.js"></script>
<script src="../javaScripts/dom.js"></script>

</body>
</html>